<!-- Loader -->
<!-- START PRELOADER AREA-->
<div class="preloader-area">

  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="loader"></div>
  </div>

</div>
<!-- END PRELOADER AREA -->

<!-- Modal musica fondo -->
<div id="modalMusica" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body text-center">

        <picture>
          <source type="image/webp" srcset="/assets/img/main/Grupo_PopUpMusica.webp">
          <source type="image/png" srcset="/assets/img/main/Grupo_PopUpMusica.png">
          <img class="adorno adorno-1" src="/assets/img/main/Grupo_PopUpMusica.png"
            alt="" loading="lazy">
        </picture>

        <p>
          <span>
            Bienvenidos a la invitación de </span>

          <br>
          Eduardo
          <br>
          Lupe
        </p>


        <picture>
          <source type="image/webp" srcset="/assets/img/main/Grupo_PopUpMusica-2.webp">
          <source type="image/png" srcset="/assets/img/main/Grupo_PopUpMusica-2.png">
          <img class="adorno adorno-2" src="/assets/img/main/Grupo_PopUpMusica-2.png"
            alt="" loading="lazy">
        </picture>

        <br>

        <span class="aclara-musica">La música de fondo es parte de la experiencia</span>

        <br>

        <a class="boton" id="play-music-modal" href="">Ingresar con música</a>

        <a class="boton" data-dismiss="modal" aria-label="Close" id="" href="" style="margin-left: 5px;">Ingresar sin música</a>

      </div>

    </div>
  </div>
</div>

<!-- Portada -->
<section class="portada">

  <div class="d-md-flex">

    <!-- Imagen portada -->
    <div class="portada-picture"></div>

    <!-- Contenido portada -->
    <div class="portada-container d-flex justify-content-center align-items-center">


      <div class="portada-container-2">




        <picture>
          <source type="image/webp" srcset="/assets/img/main/flores_Grupo01_A.webp">
          <source type="image/png" srcset="/assets/img/main/flores_Grupo01_A.png">
          <img class="adorno adorno-1" data-aos="fade-down" data-aos-delay="500" data-aos-duration="1000"
            data-aos-once="false" src="/assets/img/main/flores_Grupo01_A.png" alt=""
            loading="lazy">
        </picture>

        <picture>
          <source type="image/webp" srcset="/assets/img/main/flores_Grupo01_B.webp">
          <source type="image/png" srcset="/assets/img/main/flores_Grupo01_B.png">
          <img class="adorno adorno-2" data-aos="fade-down" data-aos-delay="400" data-aos-duration="1000"
            data-aos-once="false" src="/assets/img/main/flores_Grupo01_B.png" alt=""
            loading="lazy">
        </picture>

        <picture>
          <source type="image/webp" srcset="/assets/img/main/flores_Grupo01_C.webp">
          <source type="image/png" srcset="/assets/img/main/flores_Grupo01_C.png">
          <img class="adorno adorno-3" data-aos="fade-down" data-aos-delay="400" data-aos-duration="1000"
            data-aos-once="false" src="/assets/img/main/flores_Grupo01_C.png" alt=""
            loading="lazy">
        </picture>



        <div class="row d-flex justify-content-center align-items-center">


          <div class="content-portada text-center">

            <!-- Idiomas -->



            <div class="box-nombres-fecha-portada">

              <span class="fecha">
                10.10.2025 </span>

              <h1>Eduardo</h1>
              <!-- <span>&</span> -->
              <h1>Lupe</h1>

            </div>

            <div class="box-frase-portada">
              <p>
                <img src="/assets/img/main/comilla-apertura.svg" alt=""> <br>

                No sé a dónde vamos, <br> solo sé que quiero ir contigo <br>

                <img src="/assets/img/main/comilla-cierre.svg" alt="">
              </p>
            </div>

          </div>

        </div>

      </div>



    </div>

  </div>




</section>
<!-- Cuenta Regresiva -->
<section class="cuenta-regresiva">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">

      <div class="box-aros d-flex justify-content-center align-items-center">

        <div class="box-circulo text-center">

          <span class="falta">Faltan</span>

          <div id="reloj" class="reloj">

            <div id="dias" class="reloj-col" style="width: 34%;">
              <span class="number"></span>
              <span class="time">días</span>
            </div>

            <div id="horas" class="reloj-col" style="width: 22%;">
              <span class="number"></span>
              <span class="time">hs</span>
            </div>

            <div id="minutos" class="reloj-col" style="width: 22%;">
              <span class="number"></span>
              <span class="time">min</span>
            </div>

            <div id="segundos" class="reloj-col no-border" style="width: 22%;">
              <span class="number"></span>
              <span class="time">seg</span>
            </div>

            <div class="clearfix"></div>

          </div>


          <div class="d-flex justify-content-center align-items-center">

            <!-- Corazon -->
            <div class="corazon-falta"></div>

          </div>

        </div>
      </div>

    </div>
  </div>
</section>
<!-- Ceremonia - Fiesta-->
<section class="ceremonia-fiesta">




  <picture>
    <source type="image/webp" srcset="/assets/img/main/flores_Grupo02_A.webp">
    <source type="image/png" srcset="/assets/img/main/flores_Grupo02_A.png">
    <img class="adorno adorno-1" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000"
      data-aos-once="false" src="/assets/img/main/flores_Grupo02_A.png" alt=""
      loading="lazy">
  </picture>


  <picture>
    <source type="image/webp" srcset="/assets/img/main/flores_Grupo02_B.webp">
    <source type="image/png" srcset="/assets/img/main/flores_Grupo02_B.png">
    <img class="adorno adorno-2" data-aos="fade-right" data-aos-delay="400" data-aos-duration="1000"
      data-aos-once="false" src="/assets/img/main/flores_Grupo02_B.png" alt=""
      loading="lazy">
  </picture>


  <picture>
    <source type="image/webp" srcset="/assets/img/main/flores_Grupo02_C.webp">
    <source type="image/png" srcset="/assets/img/main/flores_Grupo02_C.png">
    <img class="adorno adorno-3" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000"
      data-aos-once="false" src="/assets/img/main/flores_Grupo02_C.png" alt=""
      loading="lazy">
  </picture>


  <div class="container">
    <div class="row">

      <div class="col-md-6 col-ceremonia text-center">

        <div class="anim-anillos"></div>

        <br>

        <h3>
          Ceremonia </h3>

        <div class="info-col">

          <div class="info-box">
            <h6>Día</h6>
            <p>Viernes 10 de Octubre - 13h</p>
            <a href="#" class="boton addeventatc">

              <span class="nameBtn">Agendar</span>

              <span class="start">2025-10-10 13:00:00</span>
              <span class="end">2025-10-10 14:30:00</span>
              <span class="timezone">Europe/Madrid</span>
              <span class="title">Boda de Eduardo y Lupe (Ceremonia)</span>

            </a>
          </div>
          
          <div class="info-box">
            <h6>Dirección</h6>
            <p>C/ Puig de Cebolla 4 <br>El Puig</p>
            <a href="#" data-evento="Ceremonia" class="boton modal-como-llegar">¿C&oacute;mo llegar?</a>
          </div>

          <div class="info-box">
            <h6>Lugar de la Ceremonia</h6>
            <p>El Invernadero,<br>Huerto de Santa Mar&iacute;a</p>
            <a href="#" data-evento="Ceremonia" class="boton confirmar-asistencia">Confirmar asistencia</a>
          </div>

        </div>

      </div>


      <div class=" col-md-6 col-fiesta text-center">

        <div class="anim-fiesta"></div>

        <br>

        <h3>
          Celebración </h3>

        <div class="info-col">

          <div class="info-box">
            <h6>Día</h6>
            <p>Viernes 10 de Octubre - 14h</p>
            <a href="#" class="boton addeventatc">
              <span class="nameBtn">Agendar</span>

              <span class="start">2025-10-10 14:30:00</span>
              <span class="end">2025-10-11 01:00:00</span>
              <span class="timezone">Europe/Madrid</span>
              <span class="title">Boda de Eduardo y Lupe (Fiesta)</span>
            </a>
          </div>

          <div class="info-box">
            <h6>¿Qu&eacute; haremos?</h6>
            <p>Aqu&iacute; os dejamos un poquito de info <br> de lo que haremos en la boda</p>
            <a href="#" data-evento="Fiesta" class="boton modal-info">Info</a>
          </div>

          <div class="info-box">
            <h6>Lugar de la Fiesta</h6>
            <p>La Font Blanca,<br>Huerto de Santa Mar&iacute;a</p>
            <a href="#" data-evento="Fiesta" class="boton confirmar-asistencia-fiesta">Confirmar asistencia</a>
          </div>

        </div>

      </div>


    </div>
  </div>
</section>
<!-- Galeria-->
<app-carrusel-fotos ngSkipHydratation></app-carrusel-fotos>

<!-- Fiesta-->
<section class="fiesta">

  <div class="container">
    <div class="row text-center d-flex justify-content-center align-items-center">



      <div class="col-md-12">
        <h2 class="title">Fiesta</h2>
        <p class="subtitle">Hagamos juntos una fiesta única. Os dejamos algunos detalles a tener en cuenta.</p>
      </div>




      <!-- Canciones -->
      <div class="col-md-4 item-fiesta">


        <picture>
          <source type="image/webp" srcset="/assets/img/main/flores_Grupo03.webp">
          <source type="image/png" srcset="/assets/img/main/flores_Grupo03.png">
          <img class="adorno adorno-1" src="/assets/img/main/flores_Grupo03.png" alt="">
        </picture>



        <div class="w-100 content-item-fiesta d-flex flex-column justify-content-between align-items-center">



          <h3>Música</h3>

          <div class="d-flex justify-content-center align-items-center content-anim-fiesta">
            <div class="anim-musica"></div>
          </div>


          <p>
            ¿Cuál es la canción que no debe faltar en la playlist de la fiesta? </p>

          <a href="#" class="boton sugerir-cancion">Sugerir canción</a>


        </div>

      </div>




      <!-- Dress Code -->
      <div class="col-md-4 item-fiesta">

        <div class="w-100 content-item-fiesta d-flex flex-column justify-content-between align-items-center">

          <h3>Dress Code</h3>

          <div class="d-flex justify-content-center align-items-center content-anim-fiesta">
            <div class="anim-vestuario"></div>
          </div>

          <p>
            Una orientación para <br> tu vestuario </p>

          <a href="#" class="boton modal-vestuario">
            Ver más </a>

        </div>

      </div>




      <!-- Notas -->
      <div class="col-md-4 item-fiesta">

        <div class="w-100 content-item-fiesta d-flex flex-column justify-content-between align-items-center">

          <h3>Tips y Notas</h3>


          <div class=" d-flex justify-content-center align-items-center content-anim-fiesta">
            <div class="anim-tips"></div>
          </div>


          <p>
            Información adicional <br> para tener en cuenta </p>


          <a href="#" class="boton  modal-tips">
            + Info </a>

        </div>

      </div>



    </div>
  </div>
</section>
<!-- Regalos-->
<section class="regalos">




  <picture>
    <source type="image/webp" srcset="/assets/img/main/flores_Grupo02_A.webp">
    <source type="image/png" srcset="/assets/img/main/flores_Grupo02_A.png">
    <img class="adorno adorno-1" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000"
      data-aos-once="false" src="/assets/img/main/flores_Grupo02_A.png" alt=""
      loading="lazy">
  </picture>


  <picture>
    <source type="image/webp" srcset="/assets/img/main/flores_Grupo02_B.webp">
    <source type="image/png" srcset="/assets/img/main/flores_Grupo02_B.png">
    <img class="adorno adorno-2" data-aos="fade-right" data-aos-delay="400" data-aos-duration="1000"
      data-aos-once="false" src="/assets/img/main/flores_Grupo02_B.png" alt=""
      loading="lazy">
  </picture>


  <picture>
    <source type="image/webp" srcset="/assets/img/main/flores_Grupo02_C.webp">
    <source type="image/png" srcset="/assets/img/main/flores_Grupo02_C.png">
    <img class="adorno adorno-3" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000"
      data-aos-once="false" src="/assets/img/main/flores_Grupo02_C.png" alt=""
      loading="lazy">
  </picture>



  <div class="container">
    <div class="row text-center d-flex justify-content-center align-items-center">

      <h2 class="title">Regalos</h2>
      <p class="subtitle">Si deseáis regalarnos algo más que vuestra hermosa presencia...</p>

      <div class="w-100">

        <div class="anim-regalos"></div>

      </div>

      <br>

      <a href="#" class="boton modal-regalos">Número de IBAN</a>

    </div>
  </div>
</section>
<!-- Instagram-->
<section class="instagram">


  <div class="container">
    <div class="row text-center d-flex justify-content-center align-items-center">

      <h2 class="title">Compartimos este día junto a ti</h2>
      <p class="subtitle">Comparte tus fotos y vídeos de este hermoso día</p>

      <div class="w-100">

        <div class="anim-instagram"></div>

      </div>

      <div class="w-100">

        <a target="_blank" href="https://www.instagram.com/" class="hashtag">#EduardoyLupe</a>

      </div>

      <br>

      <a target="_blank" href="https://www.instagram.com/" class="boton">Ver en Instagram</a>

    </div>
  </div>
</section>
<!-- Footer-->
<section class="footer">
  <div class="container">

    <div class="row">



      <div class="col-md-6 col-nombres-footer d-flex justify-content-end align-items-center">

        <h4>
          Eduardo
          <br>
          Lupe
        </h4>

      </div>


      <div
        class="col-md-6 col-acciones-footer d-flex justify-content-center justify-content-md-center align-items-center">

        <ul>

          <li>
            <a href="#" data-evento="Ceremonia" class="confirmar-asistencia">Confirmar asistencia a ceremonia</a>
          </li>

          <li>
            <a href="#" data-evento="Fiesta" class="confirmar-asistencia">Confirmar asistencia a fiesta</a>
          </li>

          <li>
            <a href="#" class="sugerir-cancion">Sugerir canción</a>
          </li>

          <li>
            <div title="" class="addeventatc">

              <span class="nameBtn">Agendar Fiesta</span>

              <span class="start">2025-10-10 13:00:00</span>
              <span class="end">2025-10-11 01:00:00</span>
              <span class="timezone">Europe/Madrid</span>
              <span class="title">Boda de Eduardo y Lupe (Fiesta)</span>

            </div>
          </li>

          <li>
            <div title="" class="addeventatc">

              <span class="nameBtn">Agendar Ceremonia</span>

              <span class="start">2025-10-10 13:00:00</span>
              <span class="end">2025-10-11 01:00:00</span>
              <span class="timezone">Europe/Madrid</span>
              <span class="title">Boda de Eduardo y Lupe (Ceremonia)</span>

            </div>
          </li>

        </ul>

      </div>



    </div>

  </div>
</section>

<!-- Musica -->
<app-musica-fondo></app-musica-fondo>



<!-- Si esta en modo "Modelo" muestro el repdorductor de musica sin musica -->

<!-- Modal asistencia ceremonia-->
<div id="modalAsistencia" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-md modal-dialog-centered">

    <div class="modal-content">

      <div class="modal-content-2">

        <picture>
          <source type="image/webp" srcset="/assets/img/main/flores_Grupo04.webp">
          <source type="image/png" srcset="/assets/img/main/flores_Grupo04.png">
          <img class="adorno adorno-1" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000"
            data-aos-once="false" src="/assets/img/main/flores_Grupo04.png" alt=""
            loading="">
        </picture>


        <div class="img-top-modal d-flex justify-content-center align-items-start">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <div class="white-circle-icon">
            <img class="" src="/assets/img/img_circuloCeremonia.svg" alt="">
          </div>

        </div>

        <div class="modal-header">
          <h5 class="modal-title"></h5>
        </div>

        <div class="modal-body">


          <div class="formulario-content">

            <form id="formAsistencia" oninput="verificarCampos()" action="" enctype="multipart/form-data">

              <div class="form-group d-flex justify-content-around custom-control custom-radio custom-control-inline">
                <div class="form-check">
                  <input class="form-check-input custom-control-input" type="radio" name="asistencia" id="1" value="Si"
                    checked>
                  <label class="form-check-label custom-control-label" for="1">
                    Si! Confirmo </label>
                </div>
                <div class="form-check">
                  <input class="custom-control-input" type="radio" name="asistencia" id="2" value="No">
                  <label class="custom-control-label" for="2">
                    No puedo :( </label>
                </div>
              </div>

              <div class="form-group">
                  <input type="number" class="form-control" id="num_asistentes" min="1" max="9" name='num_asistentes'
                  placeholder="Indica el número de personas que asistir&eacute;is a la ceremonia" oninput="validarMaximo()">
              </div>

              <div id="personas-container" class="form-group">
              </div>

            </form>

          </div>

          <div class="msj-content d-flex flex-column justify-content-center"></div>

        </div>

        <div class="modal-footer">
          <button type="button" id="sendAsistencia" class="boton" disabled>Enviar</button>
        </div>

      </div>
    </div>


  </div>
</div>

<!-- Modal asistencia celebracion-->
<div id="modalAsistenciaCeremonia" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-md modal-dialog-centered">

    <div class="modal-content">

      <div class="modal-content-2">

        <picture>
          <source type="image/webp" srcset="/assets/img/main/flores_Grupo04.webp">
          <source type="image/png" srcset="/assets/img/main/flores_Grupo04.png">
          <img class="adorno adorno-1" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000"
            data-aos-once="false" src="/assets/img/main/flores_Grupo04.png" alt=""
            loading="">
        </picture>


        <div class="img-top-modal d-flex justify-content-center align-items-start">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <div class="white-circle-icon">
            <img class="" src="/assets/img/img_circuloCeremonia.svg" alt="">
          </div>

        </div>

        <div class="modal-header">
          <h5 class="modal-title"></h5>
        </div>

        <div class="modal-body">


          <div class="formulario-content">

            <form id="formAsistencia" oninput="verificarCampos()" action="" enctype="multipart/form-data">

              <div class="form-group d-flex justify-content-around custom-control custom-radio custom-control-inline">
                <div class="form-check">
                  <input class="form-check-input custom-control-input" type="radio" name="asistencia" id="1" value="Si"
                    checked>
                  <label class="form-check-label custom-control-label" for="1">
                    Si! Confirmo </label>
                </div>
                <div class="form-check">
                  <input class="custom-control-input" type="radio" name="asistencia" id="2" value="No">
                  <label class="custom-control-label" for="2">
                    No puedo :( </label>
                </div>
              </div>

              <div class="form-group">
                  <input type="number" class="form-control" id="num_asistentes_celebracion" min="1" max="9" name='num_asistentes_celebracion'
                  placeholder="Indica el número de personas que asistir&eacute;is a la ceremonia" oninput="validarMaximo()">
              </div>

              <div id="personas-container-2" class="form-group">
              </div>

            </form>

          </div>

          <div class="msj-content d-flex flex-column justify-content-center"></div>

        </div>

        <div class="modal-footer">
          <button type="button" id="sendAsistencia" class="boton" disabled>Enviar</button>
        </div>

      </div>
    </div>


  </div>
</div>

<!-- Modal sugerir cancion-->
<div id="modalSugerirCancion" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-content-2">

        <picture>
          <source type="image/webp" srcset="/assets/img/main/flores_Grupo04.webp">
          <source type="image/png" srcset="/assets/img/main/flores_Grupo04.png">
          <img class="adorno adorno-1" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000"
            data-aos-once="false" src="/assets/img/main/flores_Grupo04.png" alt=""
            loading="lazy">
        </picture>


        <div class="img-top-modal d-flex justify-content-center align-items-start">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <div class="white-circle-icon">
            <img class="" src="/assets/img/img_circuloCanciones.svg" alt="">
          </div>


        </div>

        <div class="modal-header">

          <h5 class="modal-title">Sugerir Canción</h5>

        </div>

        <div class="modal-body">

          <div class="formulario-content">

            <form id="formSugerirCancion" action="">

              <div class="form-group">
                <input type="text" class="form-control" id="linkSugerencia" name='link'
                  placeholder="Pon el link de Spotify de la canci&oacute;n que quieres sugerir">
              </div>

            </form>

          </div>

          <div class="msj-content d-flex flex-column justify-content-center"></div>

        </div>

        <div class="modal-footer">
          <button type="button" id="sendSugerenciaCancion" class="boton">Sugerir canción</button>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Modal vestuario-->
<div id="modalVestuario" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-content-2">

        <picture>
          <source type="image/webp" srcset="/assets/img/main/flores_Grupo04.webp">
          <source type="image/png" srcset="/assets/img/main/flores_Grupo04.png">
          <img class="adorno adorno-1" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000"
            data-aos-once="false" src="/assets/img/main/flores_Grupo04.png" alt=""
            loading="lazy">
        </picture>



        <div class="img-top-modal d-flex justify-content-center align-items-start">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <div class="white-circle-icon">
            <img class="" src="/assets/img/main/vestuario.svg" alt="">
          </div>


        </div>



        <div class="modal-header">

          <h5 class="modal-title">Dress Code</h5>

        </div>

        <div class="modal-body">

          <p>Contenido Dress Code</p>

        </div>


        <div class="modal-footer"></div>


      </div>
    </div>
  </div>
</div>
<!-- Modal tips-->
<div id="modalTips" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-content-2">

        <picture>
          <source type="image/webp" srcset="/assets/img/main/flores_Grupo04.webp">
          <source type="image/png" srcset="/assets/img/main/flores_Grupo04.png">
          <img class="adorno adorno-1" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000"
            data-aos-once="false" src="/assets/img/main/flores_Grupo04.png" alt=""
            loading="lazy">
        </picture>


        <div class="img-top-modal d-flex justify-content-center align-items-start">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <div class="white-circle-icon">
            <img class="" src="/assets/img/main/tips.svg" alt="">
          </div>

        </div>



        <div class="modal-header">

          <h5 class="modal-title">Tips y Notas</h5>

        </div>

        <div class="modal-body">

          <p>Contenido Tips y Notas</p>

        </div>


        <div class="modal-footer"></div>


      </div>
    </div>
  </div>
</div>
<!-- Modal regalos-->
<div id="modalRegalos" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-content-2">

        <picture>
          <source type="image/webp" srcset="/assets/img/main/flores_Grupo04.webp">
          <source type="image/png" srcset="/assets/img/main/flores_Grupo04.png">
          <img class="adorno adorno-1" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000"
            data-aos-once="false" src="/assets/img/main/flores_Grupo04.png" alt=""
            loading="lazy">
        </picture>



        <div class="img-top-modal d-flex justify-content-center align-items-start">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <div class="white-circle-icon">
            <img class="" src="/assets/img/main/img_circuloRegalo.svg" alt="">
          </div>

        </div>



        <div class="modal-header">

          <h5 class="modal-title">Regalos</h5>

        </div>

        <div class="modal-body">
          <p>Contenido modal regalos</p>
        </div>

        <div class="modal-footer">
        </div>


      </div>
    </div>
  </div>
</div>
<!-- Modal mapa-->
<div id="modalMapa" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-content-2">

        <picture>
          <source type="image/webp" srcset="/assets/img/main/flores_Grupo04.webp">
          <source type="image/png" srcset="/assets/img/main/flores_Grupo04.png">
          <img class="adorno adorno-1" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000"
            data-aos-once="false" src="/assets/img/main/flores_Grupo04.png" alt=""
            loading="lazy">
        </picture>



        <div class="img-top-modal d-flex justify-content-center align-items-start">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>


        <div class="modal-header">

          <h5 class="modal-title"></h5>

        </div>

        <div class="modal-body">
          <div id="googleMap"></div>
        </div>

        <div class="modal-footer">
          <a class="boton ampliar-mapa" target="_blank" href="#">Abrir Google Maps</a>
        </div>

      </div>

    </div>
  </div>
</div>

<!-- Modal Info -->
<div id="modalInfo" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-content-2">

        <picture>
          <source type="image/webp" srcset="/assets/img/main/flores_Grupo04.webp">
          <source type="image/png" srcset="/assets/img/main/flores_Grupo04.png">
          <img class="adorno adorno-1" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000"
            data-aos-once="false" src="/assets/img/main/flores_Grupo04.png" alt=""
            loading="lazy">
        </picture>

        <div class="img-top-modal d-flex justify-content-center align-items-start">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>

        <div class="modal-header">
          <h5 class="modal-title"></h5>
        </div>

        <div class="modal-body">
          <p>Poner info</p>
        </div>

        <!-- <div class="modal-footer">
          <a class="boton ampliar-mapa" target="_blank" href="#">Abrir Google Maps</a>
        </div> -->

      </div>

    </div>
  </div>
</div>